In [1]:
def say_hello():
    print('Hello!')

In [2]:
say_hello()

Hello!

In [3]:
# add ing a paramenter
def say_something(something):
    print(something)

In [4]:
say_something

In [7]:
# Call the Function
say_something('Good Night')

Good Night

In [14]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"

In [38]:
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [42]:
# defining a function that calculates the % of students that passed both reading and math and print the passing percentage to the output
# when the function is called 

def passing_math_percent(pass_math_count, total_students):
    return pass_math_count / float(total_students) * 100

def passing_read_percentage(pass_read_count, total_students):
    return pass_read_count / float(total_students) * 100

In [43]:
passing_math_count = 29370
passing_reading_count = 33610
total_student_count = 39170

In [45]:
passing_math_percentage

NameError: name 'passing_math_percentage' is not defined

In [ ]:
passing_read_percentage(passing_reading_count, total_student_count)

In [16]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [20]:
import pandas as pd

In [18]:
# Convert the my_grades to a series

In [19]:
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [21]:
# substituting each value in a SERIES with another value where the new value is generated from a function using MAP() function
# map("current_value_1": "new_value_1", "current_value_2": "new_value_2")

# change the grades by one letter grade

In [22]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [30]:
# format function - format a value to a specific format (decimal or adding a thousands separator)
# "{value:format specification}".format(value)

# using the format() function 
my_grades = [92.34 , 84.56, 86.78, 78.32]

for grade in my_grades:
    print("{:.1f}".format(grade))

92.3
84.6
86.8
78.3

In [34]:
# COnvert the numerical grades to a series 
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])

In [35]:
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [37]:
#format the grades to the nearest whole number percent
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object