In [239]:
import pandas as pd

In [240]:
# load the files needed
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

In [241]:
# read the school data file and store it in a pandas data frame
school_data_df = pd.read_csv(school_data_load)
#school_data_df # to view first 5 rows or headers of the dataframe type-- school_data_df.head() -- last 5 school_data_df.tail() -- df.tail(10) or df.head(10) --gives 10 rows respectively

In [242]:
# reading student data (just 5 rows)
student_data_df = pd.read_csv(student_data_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [243]:
# determining if there is missing values in school_data
#school_data_df.count()

In [244]:
# determining if there is missing values in student_data
#student_data_df.count()

In [245]:
# determining if there isnull() missing values in school_data
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [246]:
# determining if there is isnull() or missing values in student data -- provides boolean values
student_data_df.isnull().head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False

In [247]:
# to get the total number of empty rows or rows that are true we can use pandas sum()
#school_data_df.isnull().sum()

In [248]:
# the notnull() method
#school_data_df.notnull()

In [249]:
# notnull() method with sum for student or large data
#student_data_df.notnull().sum()

In [250]:
# to find datatypes on our data frame
#school_data_df.dtypes

In [251]:
# finding data types on a column
#school_data_df["School ID"].dtype

In [252]:
#school_data_df["budget"].dtype #or df.budget.dtype

In [253]:
# finding data types for the student data frame
#student_data_df.dtypes

In [254]:
#student_data_df.student_name.dtype

In [255]:
# student_data_df['Student ID'].dtype

In [256]:
# student_data_df.gender.dtypes

In [257]:
#student_data_df.school_name.dtype

In [258]:
#student_data_df.reading_score.dtype

In [259]:
# Add each prefix and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DMV", " PhD"]

In [260]:
# iterate through the words in the "prefixes and suffixes variable" and replace them 
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,"")
#student_data_df.head()

# below is a clean data frame with which it will help us start to analyze our data and produce a report

In [261]:
# Combining the data into one data frame or a single dataset

school_data_complete_df = pd.merge(student_data_df, school_data_df, on = 'school_name')  #or on=['school_name', 'school_name'] we can select columns 
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [262]:
# getting the total number of students.
student_count = school_data_complete_df.count()
#student_count

In [263]:
# getting a particular column count we could count the number of student IDs
total_students = school_data_complete_df['Student ID'].count()
total_students
#print(total_students)

39170

In [264]:
# to find schools total we can use the first csv and count(), but to find it on complete school data frame we will have to use unique() , hmmm.... lets try set() as used to find in names
school_count = school_data_df.school_name.count()
#print(school_count)

In [265]:
#also
school_count_2 = school_data_complete_df["school_name"].unique()
#school_count_2

In [266]:
# to find the number from the array above by using lenght as .count() on unique() shows an error by using pandas which converts it into numpy which is not a function in numpy
len(school_data_complete_df["school_name"].unique())

15

In [267]:
# Calculate the total budger of all schools
school_data_complete_df.budget.sum()
# when comparing with the csv this is too much plus complete data is calculating all rows not unique rows

82932329558

In [268]:
total_budget = sum(school_data_complete_df.budget.unique())
#print(total_budget)

In [269]:
# calculating the average math score from the complete math table 
avg_math = school_data_complete_df.math_score.mean()
#print(avg_math)

In [270]:
# similiarly above for avg reading score
avg_reading = school_data_complete_df.reading_score.mean()
#print(avg_reading)

In [271]:
# percentage of students who passed math and reading
#1. Determine the passing grade
#2. Get number of students who passed in separate data frames
#3. Calculate the no. who passed both subjects(math and reading)
#4. calculate percentage ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' '

In [272]:
# passing grade was 70 

passing_math = school_data_complete_df.math_score >= 70
passing_reading = school_data_complete_df.reading_score >=70

In [273]:
#passing_math.head(10)

In [274]:
#passing_reading.head(10)

In [275]:
# get all students who are passing math in a new df

passing_math = school_data_complete_df[school_data_complete_df.math_score >= 70]
#passing_math.head()

In [276]:
# getting all students who are passing reading in a new df

passing_reading = school_data_complete_df[school_data_complete_df.reading_score >= 70]
#passing_reading.head()

In [277]:
#passing_math["student_name"].count()

In [278]:
#len(passing_math)

In [279]:
#passing_math.count()

In [280]:
# calculating the no of students passing math
passing_math_count = passing_math.student_name.count()
passing_reading_count = passing_reading.student_name.count()

In [281]:
#print(passing_math_count)
#print(passing_reading_count)

In [282]:
# calculating the percent that passed math taking into consideration total_student
# We use float to total students which is a whole number 

passing_math_percentage = (passing_math_count/ float(total_students)) * 100
#passing_math_percentage

In [283]:
# calculating the percent that passed reading into

passing_reading_percentage = ( passing_reading_count / float(total_students) * 100)
#passing_reading_percentage

In [284]:
# calculate the students who passed both math and reading

passing_math_reading = school_data_complete_df[(school_data_complete_df.math_score >= 70) & (school_data_complete_df.reading_score >=70)]
#passing_math_reading.head()

In [285]:
#passing_math_reading.student_name.count()

In [286]:
# calculate the number of students who passed both math and reading

overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [287]:
# overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / total_students * 100
#overall_passing_percentage

In [288]:
# adding a list of values with keys to create a new data frame

district_summary_df = pd.DataFrame(
                [{"Total Schools": school_count,
                 "Total Students": total_students,
                 "Total Budget": total_budget,
                 "Average Math Score": avg_math,
                 "Average Reading Score": avg_reading,
                 "% Passing Math": passing_math_percentage,
                 "% Passing Reading": passing_reading_percentage,
                 "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [289]:
# format the "Total Students" column to have the comma for a thousands separator.

district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)
#district_summary_df

In [290]:
# format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$" sign

In [291]:
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)
#district_summary_df['Total Budget']

In [292]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [293]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [294]:
#district_summary_df.dtypes

In [295]:
# to reorder the columns in the order you want them to appear
# new_column_order = ["column2","column4","column1"]

# assign a new or the same DataFrame the new column order.
# df = df[new_column_order]

In [296]:
# Reorder the columns in the order you want them to appear.
# new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
# district_summary_df = district_summary_df[new_column_order]
# district_summary_df

In [297]:
#school_data_df

In [298]:
#school_data_df.dtypes

In [299]:
# determine the school type
# we can use school_data_df

per_school_types = school_data_df.set_index(['school_name'])['type']
#per_school_types

In [300]:
# creating a new data frame with school_name

df = pd.DataFrame(per_school_types)
#df

In [301]:
# Calculate the size or count of the school (no of students per school)

per_school_counts = school_data_df['size']
#per_school_counts

In [302]:
per_school_counts = school_data_df.set_index(['school_name'])['size']
#per_school_counts

In [303]:
# now using complete school data using values_counts()

per_school_counts = school_data_complete_df.school_name.value_counts()
#per_school_counts

In [304]:
# using the dataframe schoo_data_df we will use the set_index method

per_school_budget = school_data_df.set_index(['school_name'])['budget']
#per_school_budget

In [305]:
# per capita spending 

per_school_capita = per_school_budget / per_school_counts
#per_school_capita

In [306]:
# calculate math scores and reading scores for each school 
# avg math scores for each school

student_school_math = student_data_df.set_index(['school_name'])['math_score']
#student_school_math.head()

In [307]:
# since there are many instatnces for school names, we use groupby() function

per_school_averages = school_data_complete_df.groupby(['school_name']).mean()
#per_school_averages

In [308]:
# we dont need mean of all data just math and reading 

per_school_math = school_data_complete_df.groupby(['school_name']).mean()['math_score']
#per_school_math

In [309]:
per_school_reading = school_data_complete_df.groupby(['school_name']).mean()['reading_score']
#per_school_reading

In [310]:
# To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
 # 2. Get the number of students who passed math and reading.
 # 3. Get the students who passed math and passed reading

In [311]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [312]:
#per_school_passing_math.head()

In [313]:
# Calculate the percentage of passing math and reading scores per school.
#per_school_passing_math = per_school_passing_math / per_school_counts * 100

#per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [314]:
#per_school_passing_math

In [315]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [316]:
#print(per_school_passing_math)

In [317]:
#print(per_school_passing_reading)

In [318]:
# Calculate the percentage of passing math and reading scores per school. 
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [319]:
#per_school_passing_math

In [320]:
#per_school_passing_reading

In [321]:
# overall passing math and reading
per_passing_math_reading = school_data_complete_df[(school_data_complete_df.math_score >=70) & (school_data_complete_df.reading_score >=70)]
#per_passing_math_reading.head()

In [322]:
# total number of students who passed from each school passing both math and reading

per_passing_math_reading = per_passing_math_reading.groupby(['school_name']).count()['student_name']

#per_passing_math_reading

In [323]:
# Calculate overall passing percentage
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [324]:
#print(per_overall_passing_percentage)

In [325]:
# adding to new data Frame called school summary

per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% overall Passing": per_overall_passing_percentage
})
#per_school_summary_df

#per_school_summary_df.dtypes

In [326]:
# format the Total school budget and per student budget columns dollar sign and decimal and comma
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [327]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [328]:
bottom_schools = per_school_summary_df.sort_values(["% overall Passing"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [329]:
# SCHOOL METADATA BY CLASS
# Create Grade level DataFrame.

ninth_graders = school_data_complete_df[(school_data_complete_df.grade == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df.grade == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df.grade == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df.grade == "12th")]

#ninth_graders

In [330]:
# average math score for the school for 9th graders
# Group by school Series by the school name for the average math score

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

#ninth_grade_math_scores

In [331]:
# average reading scores grouping by school 

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

#ninth_grade_reading_scores

In [332]:
# combine each Series into a single DataFrame

math_scores_by_grade = pd.DataFrame ({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

#math_scores_by_grade

In [333]:
# Format each grade column 

math_scores_by_grade['9th'] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade['10th'] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] =math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade['12th'] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Remove the Index name

math_scores_by_grade.index.name = None

# Display the data frame
math_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [334]:
# combine each Series for average reading scores by school into single DataFrame

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores
})

#reading_scores_by_grade

In [335]:
# Format each grade column 

reading_scores_by_grade['9th'] = reading_scores_by_grade["9th"].map("{:.1f}".format)
reading_scores_by_grade['10th'] = reading_scores_by_grade["10th"].map("{:.1f}".format)
reading_scores_by_grade["11th"] =reading_scores_by_grade["11th"].map("{:.1f}".format)
reading_scores_by_grade['12th'] = reading_scores_by_grade["12th"].map("{:.1f}".format)

# Remove the Index name

reading_scores_by_grade.index.name = None

# Display the data frame
reading_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

In [336]:
# get the descriptive statistics for the per_school_capita.
#per_school_capita.describe()

In [337]:
# Cut the per_school_capita into the spending ranges.
# setting up the bins or ranges

spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

Bailey High School       (615, 645]
Cabrera High School        (0, 585]
Figueroa High School     (615, 645]
Ford High School         (615, 645]
Griffin High School      (615, 645]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 615]
Rodriguez High School    (615, 645]
Shelton High School      (585, 615]
Thomas High School       (615, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 615] < (615, 645] < (645, 675]]

In [338]:
# Cut the per_school_capita into the spending ranges.
#spending_bins = [0, 585, 615, 645, 675]
#per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [339]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [340]:
# establish the spending bins and group names

spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

# catagorize spending based on the bins
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita, spending_bins, labels=group_names)
#per_school_summary_df

In [341]:
#per_school_summary_df.dtypes

In [342]:
# Calculate averages for the desired columns

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% overall Passing"]

#overall_passing_spending

In [343]:
# Assembling into a data frame

spending_summary_df = pd.DataFrame({
    "Average Math Scores" : spending_math_scores,
    "Average Reading Scores" : spending_reading_scores,
    "% Passing Math" : spending_passing_math,
    "% Passing Reading" : spending_passing_reading,
    "% Overall Passing" : overall_passing_spending
})

#spending_summary_df

In [344]:
# formatting 

spending_summary_df["Average Math Scores"] = spending_summary_df["Average Math Scores"].map("{:.1f}".format)
spending_summary_df["Average Reading Scores"] = spending_summary_df["Average Reading Scores"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,73,84,63
$645-675,77.0,81.0,66,81,54

In [345]:
# Creating Bins for school size

#per_school_counts

In [346]:
# Establish the bins

size_bins = [0, 1000, 2000, 5000]
bin_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [347]:
#per_school_summary_df

In [348]:
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=bin_names)
#per_school_summary_df

In [349]:
# Grouping by school size

# Calculate averages for the desired columns

size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% overall Passing"]

# new Data Frame

size_summary_df = pd.DataFrame ({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# display the data frame

#size_summary_df

In [350]:
# Formating the size

size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display the formatted Data Frame
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [351]:
## Grouping by School Type

# Calculate the averages for the desired columns

type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% overall Passing"]

In [352]:
# Assemble intp Data Frame called type_summary

type_summary_df = pd.DataFrame ({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})

In [353]:
# Formatting the Data Frame
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54